__pycache__
.*.swp
.*.swo
.git/
.gitignore

.env
.env.development
sreprojectenv/
node_modules
package-lock.json
static/
css/tailwind-output.css
meetings/
deployments/
monitoring/
nginx-ingress/
docs/

README.md
